# TITLE: **`ADIDAS SALES ANALYSIS ACROSS THE US`**
## 1. **Business Understanding**

- This projects aims to make a detailed analysis on US adidas sales

- In this project, we aim to find out:

a). What is the total sales revenue across all countries?  
b). Which region generates the highest profit, and which has the lowest?  
c). What is the sales contribution (%) of each market?   
d). How do monthly sales and profits vary across the year?  
e). Which months show the highest discounts given, and how does this impact profit?   
f). What are the top 5 most profitable product subcategories?   
g). Which product has the highest sales volume, and in which market is it sold the most?   
h). What is the average order value (AOV) for each customer segment?   
i). Which customer has the highest total sales, and what is their order frequency?   
j). Which city has the highest sales, and what is the associated profit margin?   
k). How do sales and profits vary across regions and countries?   
l). What is the overall discount percentage, and how does it affect profit margins?   
m). How many orders fall into negative profit, and which segments are affected the most?   
n). What is the profit-to-sales ratio for each product category and subcategory?   
o). Which market or region has the highest average order size (sales per order)?

## 2. **Data Undertanding**

Here's a **table describing each column**:

| Column Name          | Description                                                               |
| -------------------- | ------------------------------------------------------------------------- |
| **Retailer**         | Name of the company or store selling the product                          |
| **Retailer ID**      | Unique identifier for each retailer                                       |
| **Invoice Date**     | Date when the sale was recorded or invoiced                               |
| **Region**           | Geographic region where the sale took place (e.g., East, West, etc.)      |
| **State**            | U.S. state where the sale occurred                                        |
| **City**             | City where the sale was made                                              |
| **Product**          | Name or type of product sold                                              |
| **Price per Unit**   | Price of a single unit of the product                                     |
| **Units Sold**       | Number of product units sold in the transaction                           |
| **Total Sales**      | Total revenue from the sale (Price per Unit Ã— Units Sold)                 |
| **Operating Profit** | Profit made after subtracting operating costs from Total Sales            |
| **Operating Margin** | Operating Profit as a percentage of Total Sales                           |
| **Sales Method**     | Channel through which the product was sold (e.g., Online, In-store, etc.) |

In [73]:
# Import libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
import warnings
warnings.filterwarnings('ignore')

In [74]:
# Load dataset
data = pd.read_excel("../Data Sets/Adidas US Sales Datasets.xlsx")


data.head()

,Unnamed: 0,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin,Sales Method
0,NaN,Foot Locker,1185732,2020-01-01,Northeast,New York,New York,Men's Street Footwear,50.0,1200,600000.0,300000.0,0.50,In-store
1,NaN,Foot Locker,1185732,2020-01-02,Northeast,New York,New York,Men's Athletic Footwear,50.0,1000,500000.0,150000.0,0.30,In-store
2,NaN,Foot Locker,1185732,2020-01-03,Northeast,New York,New York,Women's Street Footwear,40.0,1000,400000.0,140000.0,0.35,In-store
3,NaN,Foot Locker,1185732,2020-01-04,Northeast,New York,New York,Women's Athletic Footwear,45.0,850,382500.0,133875.0,0.35,In-store
4,NaN,Foot Locker,1185732,2020-01-05,Northeast,New York,New York,Men's Apparel,60.0,900,540000.0,162000.0,0.30,In-store

In [75]:
# Check shape of data
print(f"The data has {data.shape[1]} columns and {data.shape[0]} rows")

The data has 14 columns and 9648 rows

In [76]:
# Check for data information
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9648 entries, 0 to 9647
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        0 non-null      float64
 1   Retailer          9648 non-null   object
 2   Retailer ID       9648 non-null   int64
 3   Invoice Date      9648 non-null   datetime64[ns]
 4   Region            9648 non-null   object
 5   State             9648 non-null   object
 6   City              9648 non-null   object
 7   Product           9648 non-null   object
 8   Price per Unit    9648 non-null   float64
 9   Units Sold        9648 non-null   int64
 10  Total Sales       9648 non-null   float64
 11  Operating Profit  9648 non-null   float64
 12  Operating Margin  9648 non-null   float64
 13  Sales Method      9648 non-null   object
dtypes: datetime64[ns](1), float64(5), int64(2), object(6)
memory usage: 1.0+ MB

In [77]:
# Check for data index
data.index

RangeIndex(start=0, stop=9648, step=1)

In [78]:
# Drop the first irrelevant column - "Unnamed: 0"
data.drop("Unnamed: 0", axis=1, inplace=True)

data.head()

,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin,Sales Method
0,Foot Locker,1185732,2020-01-01,Northeast,New York,New York,Men's Street Footwear,50.0,1200,600000.0,300000.0,0.50,In-store
1,Foot Locker,1185732,2020-01-02,Northeast,New York,New York,Men's Athletic Footwear,50.0,1000,500000.0,150000.0,0.30,In-store
2,Foot Locker,1185732,2020-01-03,Northeast,New York,New York,Women's Street Footwear,40.0,1000,400000.0,140000.0,0.35,In-store
3,Foot Locker,1185732,2020-01-04,Northeast,New York,New York,Women's Athletic Footwear,45.0,850,382500.0,133875.0,0.35,In-store
4,Foot Locker,1185732,2020-01-05,Northeast,New York,New York,Men's Apparel,60.0,900,540000.0,162000.0,0.30,In-store

In [79]:
# Check new shape of the data
print(f"The data has {data.shape[1]} columns and {data.shape[0]} rows")

The data has 13 columns and 9648 rows

In [80]:
# Check for null values in the dataset
for col in data.columns:
    print(f'There are {data[col].isna().sum()} null values in {col}')

There are 0 null values in Retailer
There are 0 null values in Retailer ID
There are 0 null values in Invoice Date
There are 0 null values in Region
There are 0 null values in State
There are 0 null values in City
There are 0 null values in Product
There are 0 null values in Price per Unit
There are 0 null values in Units Sold
There are 0 null values in Total Sales
There are 0 null values in Operating Profit
There are 0 null values in Operating Margin
There are 0 null values in Sales Method

In [81]:
# Check for duplicates in the dataset
print(f"There are {data.duplicated().sum()} duplicates in the dataset")

There are 0 duplicates in the dataset

In [82]:
# Describe the numerical columns in the dataset
data.describe().T.style.format("{:,.2f}")

In [83]:
# Describe the objaect columns in the dataset
data.describe(include="O").T.style.format({
    'count': '{:,}',
    'freq': '{:,}'
})

## **Exploratory Data Analysis**