# TITLE: `ADIDAS SALES ANALYSIS ACROSS THE US`
## 1. Business Understanding

- This projects aims to make a detailed analysis on US adidas sales

- In this project, we aim to find out:

a). What is the total sales revenue across all countries?  
b). Which region generates the highest profit, and which has the lowest?  
c). What is the sales contribution (%) of each market?   
d). How do monthly sales and profits vary across the year?  
e). Which months show the highest discounts given, and how does this impact profit?   
f). What are the top 5 most profitable product subcategories?   
g). Which product has the highest sales volume, and in which market is it sold the most?   
h). What is the average order value (AOV) for each customer segment?   
i). Which customer has the highest total sales, and what is their order frequency?   
j). Which city has the highest sales, and what is the associated profit margin?   
k). How do sales and profits vary across regions and countries?   
l). What is the overall discount percentage, and how does it affect profit margins?   
m). How many orders fall into negative profit, and which segments are affected the most?   
n). What is the profit-to-sales ratio for each product category and subcategory?   
o). Which market or region has the highest average order size (sales per order)?

## 2. Data Undertanding

In [12]:
# Import libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
import warnings
warnings.filterwarnings('ignore')

In [13]:
# Load dataset
data = pd.read_excel("../Data Sets/Adidas US Sales Datasets.xlsx")


data.head()

,Unnamed: 0,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin,Sales Method
0,NaN,Foot Locker,1185732,2020-01-01,Northeast,New York,New York,Men's Street Footwear,50.0,1200,600000.0,300000.0,0.50,In-store
1,NaN,Foot Locker,1185732,2020-01-02,Northeast,New York,New York,Men's Athletic Footwear,50.0,1000,500000.0,150000.0,0.30,In-store
2,NaN,Foot Locker,1185732,2020-01-03,Northeast,New York,New York,Women's Street Footwear,40.0,1000,400000.0,140000.0,0.35,In-store
3,NaN,Foot Locker,1185732,2020-01-04,Northeast,New York,New York,Women's Athletic Footwear,45.0,850,382500.0,133875.0,0.35,In-store
4,NaN,Foot Locker,1185732,2020-01-05,Northeast,New York,New York,Men's Apparel,60.0,900,540000.0,162000.0,0.30,In-store

In [ ]:
# Drop the first irrelevant column - "Unnamed: 0"
data.drop("Unnamed: 0", axis=1, inplace=True)

data.head()

,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin,Sales Method
0,Foot Locker,1185732,2020-01-01,Northeast,New York,New York,Men's Street Footwear,50.0,1200,600000.0,300000.0,0.50,In-store
1,Foot Locker,1185732,2020-01-02,Northeast,New York,New York,Men's Athletic Footwear,50.0,1000,500000.0,150000.0,0.30,In-store
2,Foot Locker,1185732,2020-01-03,Northeast,New York,New York,Women's Street Footwear,40.0,1000,400000.0,140000.0,0.35,In-store
3,Foot Locker,1185732,2020-01-04,Northeast,New York,New York,Women's Athletic Footwear,45.0,850,382500.0,133875.0,0.35,In-store
4,Foot Locker,1185732,2020-01-05,Northeast,New York,New York,Men's Apparel,60.0,900,540000.0,162000.0,0.30,In-store